WATCHED_FOLDER_ID=FolderID <drive.google.com/drive/folders/<FOLDER_ID>>

WEBHOOK_URL=https://<Ngrok URL>/webhook/drive

GOOGLE_CREDENTIALS_FILE=credentials.json
GOOGLE_TOKEN_FILE=token.json

EMBEDDING_MODEL=sentence-transformers/all-MiniLM-L6-v2

HF_TOKEN= <Hugging Face Token>